@charset "UTF-8";
/* -------------
  Colors
------------- */
/* -------------
  width
------------- */
/* -------------
  transition-duration
------------- */
/* -------------
  transition-opacity
------------- */
/* -------------
  transition-easing
------------- */
/* -------------
  box-shadow
------------- */
/* -------------
  line-height
------------- */
/* -------------
z-index
------------- */
/* ----------------------------------------------------------
  reset
---------------------------------------------------------- */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

/* Global reset-RESET */
/* The below restores some sensible defaults */
strong {
  font-weight: normal;
}

em {
  font-style: normal;
}

img {
  border: none;
}

input[type="button"], input[type="submit"], button {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  background: none;
  border: 0;
  border-radius: 0;
  width: auto;
  overflow: visible;
  padding: 0;
  font-size: 0;
  line-height: 0;
  -webkit-box-sizing: content-box;
  box-sizing: border-box;
}

input[type="button"]::-webkit-search-decoration, input[type="submit"]::-webkit-search-decoration, button::-webkit-search-decoration {
  display: none;
}

input[type="button"]::focus, input[type="submit"]::focus, button::focus {
  outline-offset: -2px;
}

input[type="text"], input[type="number"], input[type="tel"], input[type="password"], input[type="date"], input[type="email"], textarea, select {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="date"],
input[type="number"] {
  -moz-appearance: textfield;
}

select {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

i {
  font-style: normal;
}

/* -----------------
@include MediaQuery
----------------- */
/* -----------------
@extend clearfix
----------------- */
/* -----------------
icofont settings
----------------- */
/* -----------------
bg-cover
----------------- */
/* -----------------
placeholder
----------------- */
/* -----------------
sprite 
----------------- */
/* -----------------
calc-vw 
----------------- */
/* ----------------------------
* border-box 20px sp
* -------------------------- */
/* ----------------------------
* hover line animation
* -------------------------- */
/* ----------------------------
* scroll
* -------------------------- */
/* ----------------------------
* heading decroaation
* -------------------------- */
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?ldgpku");
  src: url("fonts/icomoon.eot?ldgpku#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?ldgpku") format("truetype"), url("fonts/icomoon.woff?ldgpku") format("woff"), url("fonts/icomoon.svg?ldgpku#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-language:before {
  content: "\e900";
}

.icon-link:before {
  content: "\e901";
}

.icon-list:before {
  content: "\e902";
}

.icon-sort:before {
  content: "\e903";
}

.icon-search:before {
  content: "\e904";
}

.icon-check:before {
  content: "\e905";
}

.icon-quotation01:before {
  content: "\e906";
}

.icon-quotation02:before {
  content: "\e907";
}

.icon-left_arrow:before {
  content: "\e908";
}

.icon-right_arrow:before {
  content: "\e909";
}

.icon-plus:before {
  content: "\e90a";
}

.icon-minus:before {
  content: "\e90b";
}

.icon-blank:before {
  content: "\e90c";
}

.icon-pdf:before {
  content: "\e90d";
}

.icon-instagram:before {
  content: "\e90e";
}

.icon-play:before {
  content: "\e90f";
}

.icon-triangle01:before {
  content: "\e910";
}

.icon-triangle02:before {
  content: "\e911";
}

body {
  font-family: arial, helvetica, "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS Pゴシック", "MS PGothic", sans-serif;
  letter-spacing: 0.025em;
  font-size: 14px;
  font-weight: normal;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  line-height: 1.75;
  background-color: #fff;
  color: #333;
  /* number のカウンタを 0 にセット */
  counter-reset: number 0;
}

body.is-fixed {
  position: fixed;
}

img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  img {
    backface-visibility: hidden;
  }
}

@media screen and (max-width: 767px) {
  img {
    height: auto;
  }
}

a {
  text-decoration: none;
}

input:-webkit-autofill {
  -webkit-transition: background-color 9999s !important;
  transition: background-color 9999s !important;
}

::selection {
  background: #ed9026;
}

::selection ::-moz-selection {
  background: #ed9026;
}

/* ----------------------------
* svg
* -------------------------- */
.svg-symbol {
  display: none;
}

/* ----------------------------
* use-sp
* -------------------------- */
.use-sp > body {
  cursor: pointer;
}

body div {
  color: red;
}

.l-wrapper {
  opacity: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .l-wrapper {
    margin: 10px;
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  .l-wrapper {
    margin: 5px;
  }
}

.l-gnav {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 110px;
}

@media screen and (min-width: 768px) {
  .l-gnav.is-active {
    height: 60px;
  }
}

.l-footer {
  background-color: #ed9026;
}

.l-form {
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .l-form {
    margin: 40px;
  }
}

@media screen and (max-width: 767px) {
  .l-form {
    margin: 0 10px;
    margin-bottom: 40px;
  }
}

.inlineBlock {
  display: inline-block;
}

.tableCell {
  display: table-cell;
  vertical-align: middle;
}

.fr,
.imgR {
  float: right;
  margin-left: 10px;
}

.fl,
.imgL {
  float: left;
  margin-right: 10px;
}

.imgC,
.tC {
  text-align: center;
}

.imgC {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tR,
.sign {
  text-align: right;
}

.borderBox {
  box-sizing: border-box;
}

.tsNone {
  text-shadow: none !important;
}

.bsNone {
  box-shadow: none !important;
}

.mt0 {
  margin-top: 0px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.pt0 {
  padding-top: 0px !important;
}

.pb0 {
  padding-bottom: 0px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pb25 {
  padding-bottom: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.pt35 {
  padding-top: 35px !important;
}

.pb35 {
  padding-bottom: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.pt45 {
  padding-top: 45px !important;
}

.pb45 {
  padding-bottom: 45px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

.mt55 {
  margin-top: 55px !important;
}

.mb55 {
  margin-bottom: 55px !important;
}

.pt55 {
  padding-top: 55px !important;
}

.pb55 {
  padding-bottom: 55px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.pt60 {
  padding-top: 60px !important;
}

.pb60 {
  padding-bottom: 60px !important;
}

.mt65 {
  margin-top: 65px !important;
}

.mb65 {
  margin-bottom: 65px !important;
}

.pt65 {
  padding-top: 65px !important;
}

.pb65 {
  padding-bottom: 65px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.pt70 {
  padding-top: 70px !important;
}

.pb70 {
  padding-bottom: 70px !important;
}

.mt75 {
  margin-top: 75px !important;
}

.mb75 {
  margin-bottom: 75px !important;
}

.pt75 {
  padding-top: 75px !important;
}

.pb75 {
  padding-bottom: 75px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.pt80 {
  padding-top: 80px !important;
}

.pb80 {
  padding-bottom: 80px !important;
}

.mt85 {
  margin-top: 85px !important;
}

.mb85 {
  margin-bottom: 85px !important;
}

.pt85 {
  padding-top: 85px !important;
}

.pb85 {
  padding-bottom: 85px !important;
}

.mt90 {
  margin-top: 90px !important;
}

.mb90 {
  margin-bottom: 90px !important;
}

.pt90 {
  padding-top: 90px !important;
}

.pb90 {
  padding-bottom: 90px !important;
}

.mt95 {
  margin-top: 95px !important;
}

.mb95 {
  margin-bottom: 95px !important;
}

.pt95 {
  padding-top: 95px !important;
}

.pb95 {
  padding-bottom: 95px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

.pt100 {
  padding-top: 100px !important;
}

.pb100 {
  padding-bottom: 100px !important;
}

@media screen and (min-width: 768px) {
  .pc_tb-hide {
    display: none !important;
  }
}

@media screen and (min-width: 981px) {
  .pc-hide {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .sp-hide {
    display: none !important;
  }
}
